@{
    ViewData["Title"] = "Home";
}
<div id="overlay">
<body class="home" >
    <div class="landing">
        <div class="landing-card">
            <div class="landtext text-right">
                @*<div class="landing-card-logo">
                    <img src="https://res.cloudinary.com/du4r5hykw/image/upload/v1615215439/Park_Around_wht_nobg_pp0v0s.png" />
                </div>*@
                <h1 class="title">park around</h1>
                <div class="landing-card-subtext">
                    <h4 class="catch">worried about parking?</h4>
                    <h4 class="catch">we figured it out for you!</h4>
                </div>
                <div class="testing-display-column">
                    <div class="landing-card-button"><a class="about-btn" asp-area="" asp-controller="ParkingLots" asp-action="Index">PARKING LOTS PARTNERS</a></div>
                    <div class="landing-card-button"><a class="about-btn" asp-area="" asp-controller="Users" asp-action="Create">MAKE A RESERVATION</a></div>
                </div>
            </div>
        </div>
        </div>
</body>

</div>



