
@model WebApp.DTO.UserDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src= "https://www.model-space.com/media/catalog/product/cache/2/thumbnail/1280x/9df78eab33525d08d6e5fb8d27136e95/g/a/gallery4_2x.jpg" class="img-radius" alt="User-Profile-Image"> </div>
                                    <br>
                                    <h6 class="f-w-600">@Html.DisplayFor(model => model.name)</h6>
                                </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">User Profile Details</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Username</p>
                                                <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.UserName)</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Email</p>
                                                <h6 class="text-muted f-w-400">@Html.DisplayFor(model => model.Email)</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">NIF</p>
                                                <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.nif)</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Wallet</p>
                                                <h6 class="text-muted f-w-400">@await Html.PartialAsync("Wallet")</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body-buttons">
                                        @*<div class="user-dashboard-buttons"><a class="reservation-about-btn no-margin-left" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="">Edit</a></div>*@
                                        <div class="user-dashboard-buttons"><a class="reservation-about-btn no-margin-left" asp-area="" asp-controller="Reservations" asp-action="Index" asp-route-id="">Your Reservations</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
