@model WebApp.DTO.UserDTO
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<form asp-action="CreateLater">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h6 class="userboard-body-header-text">
        @Html.DisplayNameFor(model => model.walletDTO.totalAmount)
    </h6>
    <p>
        @Html.DisplayFor(model => model.walletDTO.totalAmount)
        @Html.HiddenFor(model => model.walletDTO.totalAmount)
    </p>
    <div class="card-body-buttons">
        <a class="myWallet-button-user-dashboard" asp-area="" asp-controller="Users" asp-action="Deposit" asp-route-id=""><i style='font-size:24px' class='fas'>&#xf555;</i>  Add Money to My Wallet</a></div>
</form>
  

