@model IEnumerable<WebApp.DTO.ParkingSpotDTO>

@{
    ViewData["Title"] = "ParkingLotsNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-transform-uppercase">
    <h1>@ViewBag.parkLotName</h1>
    <h3>Free Parking Spots Currently</h3>
</div>

<div class="row">
    @foreach (var item in Model) {
    <div class="col-sm-2 p-4">
        <div id="park-spot" class="parking-spot-about-btn parking-spot-about-btn:hover">
            <div id="park-spot_@Html.DisplayFor(modelItem => item.parkingSpotID)" class="parking-spot-about-btn parking-spot-about-btn:hover" onclick="location.href = '@Url.Action("ReserveNow", new { id = ViewData["parkingLotId"], pSpotId=item.parkingSpotID })'">
                <p id="park-price">€@Html.DisplayFor(modelItem => item.priceHour) / hour</p>
                <p id="icon" style="
                    font-size: 55px;
                    color: rgb(255, 255, 255);"> @Html.DisplayFor(modelItem => item.parkingSpotID) </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="card-body-buttons">
    <div class="parking-lot-reservation-card-buttons"><a class="reservation-about-btn no-margin-left" asp-area="" asp-controller="MakeReservation" asp-action="Index" asp-route-id="">Back to Parking Lot List</a></div>
</div>

