@model IEnumerable<WebApp.DTO.ParkingSpotDTO>

@{
    ViewData["Title"] = "Now";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.parkLotName</h1>
<h2>Free Parking Spots Currently</h2>


<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-2">
            <div class="parking-spot-hover" onclick="location.href = '@Url.Action("Create", new { id = ViewData["parkingLotId"], pSpotId=item.parkingSpotID })'">
                <div class="card mb-3 card text-center">
                    <div class="card-body">
                        <p>@Html.DisplayFor(modelItem => item.parkingSpotID)</p>
                        <p>€@Html.DisplayFor(modelItem => item.priceHour) / hour</p>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>

        <p>
            @Html.ActionLink("Back to List", "Details", "ParkingLots", new { id = ViewData["parkingLotId"] })
        </p>

  
