/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  color: white !important;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

a .footer {
    color: white !important;
}


/*Home*/
.home {
    background: url("https://res.cloudinary.com/du4r5hykw/image/upload/v1614866659/cover8_pjsp3n.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home .overlay {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.landing {
    z-index: -1000;
    background-color: rgba(0, 0, 0, 0.35) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing img {
    background-size: cover;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    z-index: -1000;
}


.landtext {
    color: white;
    margin-top: 18em;
    z-index: -800;
    padding-right: 100px;
}


td .pointer :hover {
    cursor: pointer !important;
}

.pointer {
    cursor: pointer !important;
}
#navbar {
    min-height: 77px;
    transition: all 0.3s;
    /*    background-color: #212831 !important;*/
    background-color: #fce373 !important;
}
.homenav {
    background-color: #fce373 !important;
}

.text-dark {
    color: #4a4a4a !important;
    font-weight: 600 !important;
    font-family: Arial;
    justify-content: space-between;
    font-size: 16px;
    padding: 0px 10px;
    cursor: pointer;
}

    a .text-dark :hover {
        color: white !important;
        font-weight: 900;
        background-color: #a385bd;
    }

.nav-link :hover {
    color: white !important;
    font-weight: 900;
    background-color: #a385bd;
}


.navbar-light .navbar-nav .nav-link {
    color: #a385bd;
}

    .navbar-light .navbar-nav .nav-link :hover {
        color: #a385bd;
        background-color: #a385bd;
    }


.landing .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #FCE373 !important;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FCE373;
}

    .landing .about-btn:hover {
        background: #FCE373;
        font-weight: 500;
        color: black !important;
        text-decoration: none;
    }
